<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfanw.element.dao.mapper.SecurityUserMapper">
    <resultMap id="BaseResultMap" type="com.mfanw.element.dao.entity.SecurityUserEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="BaseColumnList">
        id, username, password, icon, email, nick_name, note, create_time, login_time, status
    </sql>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM security_user
        WHERE username = #{username, jdbcType=VARCHAR}
    </select>
</mapper>